{% extends "nav.html" %}
{% load staticfiles %}

{% block title %} 

{{ info }} 

{% endblock %}

{% block style %} 

.img{width:30%;height:30%;vertical-align:middle;}

{% endblock %}
 
{% block main %}



<div style="margin:3% 0%;">  
    <div class="layui-row">
      <div class="layui-card">
        <div class="layui-card-header">关于我</div>
        <div class="layui-card-body">
        	<img class="img" src={% static 'pictures/about.png' %}><br>
          <br>
        	Hey!你好,我是Double，欢迎来到我的BLOG！<br>
        	既然你点开了这页，说明你对我似乎有点兴趣.<br>
          <br>
          非典型性，计算机程序员.<br>
          人生苦短，我用Python.<br>
          技术积累，艺多不压身，功到自然成.<br>
          喜爱摄影，日常手机党，闲情逸致偶用单反拍摄.<br>
          钟情电影，尤爱科技、悬疑类型.<br>
          声控一枚，做过电台，热衷独立音乐，蒸汽波.<br>
          对齐对齐，完美.<br>
          <br>
          stay hungry,stay foolish.——— 《Whole Earth Epilog》<br>
          不是果粉，但是臣服于乔布斯的审美.<br>
          <br>
          本网站使用Django2.2.2 layui2.5.4搭建<br>
          <br>
          如果本站信息对你有一定帮助，有兴趣的话可以通过底部方式联系我。当然如果你愿意打赏我喝杯奶茶更是再好不过:)
        </div>
        </div>
    </div>
</div> 
{% endblock %}