<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>管理 | Double's Blog</title>
    <link  rel="stylesheet" href={% static 'layui/css/layui.css' %} type="text/css">
    <link  rel="stylesheet" href={% static 'miniSimpleMp3Player/simpleplayer.css' %} type="text/css">
    <link  rel="stylesheet" href={% static 'bootstrap-4.1.3-dist/css/bootstrap.css' %} type="text/css">
    <link  rel="stylesheet" href={% static 'quill/quill.snow.css' %} type="text/css">
    <style>
    	.body-color{background:#e9ecef}
    	.img{width:3%;height:3%;vertical-align:middle;}
			.margin-top{margin:0% 0% 2% 0%;}
			.margin{margin:2% 0%;}
    </style>
</head>

<body class="body-color">
<script src={% static 'layui/layui.js' %}></script>
<script src={% static 'layui/layui.all.js' %}></script>
<script src={% static 'layui/lay/modules/layer.js' %}></script>
<script src={% static 'jquery-3.3.1/jquery-3.3.1.js' %}></script>
<script src={% static 'bootstrap-4.1.3-dist/js/bootstrap.js' %}></script>
<script src={% static 'miniSimpleMp3Player/jquery.simpleplayer.js' %}></script>
<script src={% static 'quill/quill.js' %}></script>

<div id="info">	
	
	<!--导航-->
	<nav class="navbar navbar-expand-md bg-primary navbar-dark">
		<div class="container"> 
  		<a class="navbar-brand" href="/">Double's Blog</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    			<span class="navbar-toggler-icon"></span>
  			</button>
  		<div class="collapse navbar-collapse" id="collapsibleNavbar">
    		<ul class="navbar-nav">
      		<li class="nav-item dropdown">
        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">文章</a>
        			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          			<a class="dropdown-item" href="/article/">全部</a>
          			<a class="dropdown-item" href="/article/tecnology/">技术</a>
          			<a class="dropdown-item" href="/article/lifestyle/">生活</a>
        			</div>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" href="/image/">图片</a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" href="/voice/">声音</a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" href="/about/">关于</a>
      		</li>
     		</ul>
     		<ul class="navbar-nav ml-auto">
      		<li class="nav-item">
        		<a class="nav-link ml-auto" href="/login/">管理</a>
      		</li> 
    		</ul>
  		</div>
  	</div> 
  </nav> 

	<!--内容-->
	<div class="container">
		<div style="margin:3% 0% 0% 0%;">
			{% if request.session.is_login %}
	<div class="layui-card">
    	<div class="layui-card-body">
      	<a href="#">当前在线：{{ request.session.user_name }}</a> 
      	  {% if request.session.user_name == 'double' %}
      			<img class="img" src={% static 'pictures/double.png' %}>
      		{% elif request.session.user_name == 'duanduan' %}
      			<img class="img" src={% static 'pictures/duanduan.png' %}>
      		{% endif %}
      	<a style="float:right" href="/logout/">登出</a>
      </div>
  </div>
	
	<div class="layui-tab layui-tab-card" style="background:white">
  <ul class="layui-tab-title">
    <li class="layui-this">文章编写</li>
    <li>图片上传</li>
    <li>声音上传</li>
    <li>文章修改</li>
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
			
			<input id="article_title" class="form-control margin-top" type="text" placeholder="请输入文章标题">
       
    	<div id="editor" style="background:white;">
  			<p>请输入文章内容</p>
			</div>
			
			<div class="margin">
			<div class="form-check form-check-inline">
  			<input class="form-check-input" type="radio" name="Radios" value="1" checked>
  				<label class="form-check-label">
    				技术类
  				</label>
				</div>
			<div class="form-check form-check-inline">
  				<input class="form-check-input" type="radio" name="Radios" value="2">
  			<label class="form-check-label">
    			生活类
  			</label>
			</div>
			</div>
    	
    	
  		<input id="article_tag" class="form-control margin" type="text" placeholder="请输入标签,目前仅支持单标签">
       
			<button type="button" class="layui-btn layui-btn-normal" onclick="submit_article()">
				<i class="layui-icon">&#xe62f;</i>提交文章
			</button>
			
    </div>
    
    <div class="layui-tab-item">
    	<input id="image_title" class="form-control margin-top" type="text" placeholder="请输入标题(暂未作限制，请务必输入)">
    	
    	<input id="image_content" class="form-control margin" type="text" placeholder="请输入内容(暂未作限制，请务必输入)">
    	
    	<input id="image_tag" class="form-control margin" type="text" placeholder="请输入标签,目前仅支持单标签(暂未作限制，请务必输入)">
    				
			<button type="button" class="layui-btn layui-btn-normal" id="submit_image">
				<i class="layui-icon">&#xe62f;</i>提交图片
			</button>
			
    </div>
    <div class="layui-tab-item">
    	<input id="voice_title" class="form-control .margin-top" type="text" placeholder="请输入标题(暂未作限制，请务必输入)">
    	
    	<input id="voice_content" class="form-control margin" type="text" placeholder="请输入内容(暂未作限制，请务必输入)">
    	
    	<input id="voice_tag" class="form-control margin" type="text" placeholder="请输入标签,目前仅支持单标签(暂未作限制，请务必输入)">
    				
			<button type="button" class="layui-btn layui-btn-normal" id="submit_voice">
				<i class="layui-icon">&#xe62f;</i>提交声音
			</button>
				
    </div>
    <div class="layui-tab-item">    	
      <select class="custom-select margin-top" id='select' onchange='select_func()'>
      	<option selected>请选择...</option>
        {% for i in info %}
        	<option value='{{ i.id }}'>{{ i.title }}</option>
        {% endfor %}
      </select>
    	
    	<div id="editor_" style="background:white;">
  			<p>请输入文章内容</p>
			</div>
			
			<button type="button" class="layui-btn layui-btn-normal margin" onclick="submit_article_()">
				<i class="layui-icon">&#xe62f;</i>提交修改
			</button>
			
    </div>
	</div>
	</div>


	{% else %}
	对不起您访问的页面并不存在！
	{% endif %}
		</div>
	</div>
	
	<!--页尾-->
	<div class="container" id="">	
	Contact me:
	WECHAT & QQ:330271829<br>
	© COPYRIGHT BY Double 2019<br>
	<br>
	<br>
	</div>	
	
</div>

<script>
	//富文本编辑器
	var quill = new Quill('#editor', {
    theme: 'snow'
  });
  
  var quill_ = new Quill('#editor_', {
    theme: 'snow'
  });
          
	//音频播放器
	$(function() {
        var settings = {
            progressbarWidth: '200px',
            progressbarHeight: '5px',
            progressbarColor: '#22ccff',
            progressbarBGColor: '#eeeeee',
            defaultVolume: 0.8
        };
        $(".player").player(settings);
  }); 
  
  //layui  
  layui.use(['element','upload'], function(){  	
  	var element = layui.element;
  	var upload = layui.upload;
  	var uploadImage = upload.render({
  			 elem: '#submit_image'
  			,url: '/upload/' 
  			,method: 'POST'  
  			,data: {csrfmiddlewaretoken: '{{ csrf_token }}',image_title:function(){return $("#image_title").val();},image_content:function(){return $("#image_content").val();},image_tag:function(){return $("#image_tag").val();},upload_type:'3'}
  			,done: function(res, index, upload){if(res.code = 200){alert('提交成功!');location.reload();}else{alert('提交失败!请核查后台数据！')}}
  			,accept: 'images'
		});
		
		var uploadVoice= upload.render({
  			 elem: '#submit_voice'
  			,url: '/upload/' 
  			,method: 'POST'  
  			,data: {csrfmiddlewaretoken: '{{ csrf_token }}',voice_title:function(){return $("#voice_title").val();},voice_content:function(){return $("#voice_content").val();},voice_tag:function(){return $("#voice_tag").val();},upload_type:'4'} 
  			,done: function(res, index, upload){if(res.code = 200){alert('提交成功!');location.reload();}else{alert('提交失败!请核查后台数据！')}}
  			,accept: 'audio'
		});        
	});
	
	//提交文章
	function submit_article() {
		var article_title   = document.getElementById("article_title").value;
		var article_content = document.querySelector('#editor').children[0].innerHTML
		var article_tag     = document.getElementById("article_tag").value;
		var upload_type     = $("[name='Radios']").filter(":checked").val(); 

		if(article_title.trim() == ""){
	  	layer.msg('标题不可为空!')
	  }
	  else if(article_content.trim() == ""){
	  	layer.msg('内容不可为空!')
	  }
	  else if(article_tag.trim() == ""){
	  	layer.msg('标签不可为空!')
	  }
	  else{
	  	var Obj = {csrfmiddlewaretoken: '{{ csrf_token }}','article_title':article_title,'article_content':article_content,'article_tag':article_tag,'upload_type':upload_type}
	  	ajax(Obj)
	  }
	}
	
	//修改文章 动态选择
	function select_func(){
    var options=$("#select option:selected").val();
    console.log(options)
		var Obj = {csrfmiddlewaretoken: '{{ csrf_token }}','id':options,'upload_type':'1_2'}
		var result = ajax_(Obj)
	};
	
	//提交修改
	function submit_article_() {
		var options=$("#select option:selected").val();
		var article_content = document.querySelector('#editor_').children[0].innerHTML
		var Obj = {csrfmiddlewaretoken: '{{ csrf_token }}','id':options,'article_content':article_content,'upload_type':'1_2','submit':'submit'}
		var result = ajax(Obj)
	}
		
	//提交文章 ajax交互
	function ajax(Obj){
		var datas = [];
		$.ajax({
			type:"post",
			async:false,
			cache:true,
			url:"/upload/",
			dataType:"json",
			data:Obj,
			success:function(result){
				datas = result;
				if(datas.code == '200'){
				  alert('提交成功!');
				  location.reload() ; 
				}
			}
		})
	}
	
	//选择文章 ajax交互
	function ajax_(Obj){
		var datas = [];
		$.ajax({
			type:"post",
			async:false,
			cache:true,
			url:"/upload/",
			dataType:"json",
			data:Obj,
			success:function(result){
				datas = result;	 
    		document.querySelector('#editor_').children[0].innerHTML = result.content 		
			}
		})
		return datas;
	}
	
</script>
</body>
</html>